<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="/ckeditor/ckeditor.js"></script>
</head>
<body>
    <textarea name="" id="poster" cols="30" rows="10"></textarea>
    <div id= "content"></div>
    <button id="getValue">Get Value</button>
</body>
<script>

    CKEDITOR.replace('poster');
    $("#getValue").click(function(){
        var desc = CKEDITOR.instances['poster'].getData();
        $("#content").html(desc);
    });
</script>
</html>